.crear_usuario{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 1050px;
        padding: 100px 1px;
        box-shadow: 0px 0px 6px #B71375;
        background-image: url(../fondo/FondoPequeno.gif);
        font-weight: bold;
}
.texto_crear_usuario{
    width: 100%;
    background-color: #B71375;
    font-size: 40px;

}
.inputs input[type="text"]{
    font-family: fantasy;
    font-weight: 300;
    font-size: 20px;
    width: 800px;
    padding: 10px;
    text-align: center;
    outline: none;
    border-radius: 50px;
}
.inputs input[type="text"]:hover{

    box-shadow: 0px 0px 20px #B71375;
    border: 4px solid;
}
.inputs input[type="submit"]{
    width: 400px;
    font-size: 30px;
    background-color: black;
    border: solid 2px #B71375;
    border-radius: 10px;
    color: white;
    font-family: fantasy;
    margin: 20px;

    
}
.inputs input[type="submit"]:hover{
    background-color: #B71375;
    box-shadow: 0px 0px 20px #B71375;

  }
.inputs{
    flex-wrap: wrap;
}
#error{
    margin-left: 30%;
    margin-right: 30%;
    color: #B71375;
    background-color: white;
    border: #B71375 solid 3px;
    padding: 10px;

}